---
const games = fs.readdirSync('./public/roms')
---
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
<head>
<body>
  <ul>
    {games.map((game) => (<li><a href={`/p/${game}`}>{game}</a></li>))}
  </ul>
</body>
</html>
